# Node
node_modules/
frontend/admin/node_modules/
frontend/customer/node_modules/
frontend/admin/dist/
frontend/customer/dist/

# Maven
ordering-system/target/
!ordering-system/.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Application
ordering-system/application-local.yml
